{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}

{% block body %}
    <section class="custom-section dashboard-section">
        <div class="custom-container dashboard-section-content custom-container-padding">
        <h1>MON PROFIL</h1>
            <div class="dashboard-section-infos">
                <div class="dashboard-section-blocks dashboard-personal-data">
                    <h5>MES INFOS</h5>
                    <div>
                        <p class="info-label">Inscrit.e le</p>
                        <p class="info-user-data">{{ user.createdAt|date('d/m/y') }}</p>
                    </div>
                    <div>
                        <p class="info-label">Email</p>
                        <p class="info-user-data">{{ censorUserEmail }}</p>
                    </div>
                    {% if user.firstname %}
                    <div>
                        <p class="info-label">Prénom</p>
                        <p class="info-user-data">{{ user.firstname }}</p>
                    </div>
                    {% endif %}
                    <div>
                        <p class="info-label">Pseudo</p>
                        <p class="info-user-data">{{ user.username }}</p>
                    </div>
                    <div>
                        <a href="{{ path('app_user_dashboard_edit', {'id': user.id}) }}" class="btn btn-style-two">Modifier mes infos</a>
                    </div>
                    <div>
                        <a type="button" class="dashboard-section-infos-delete-link" data-bs-toggle="modal" data-bs-target="#deleteUserModal">
                            Supprimer mon compte
                        </a>
                        {% include 'security/dashboard/_deleteModal.html.twig' %}
                    </div>
                </div>
                <div class="dashboard-infos-list">
                    <div class="dashboard-section-blocks">
                        <h5>MES MESSAGES PRIVÉS</h5>
                        <p><span>{{ user.userConversation.userMessages|length }}</span></p>
                        <div>
                            <a href="{{ path('app_conversation_chat', {'id': user.id, 'token': user.userConversation.token}) }}" class="btn btn-style-two">ACCÉDER</a>
                        </div>
                    </div>
                    <div class="dashboard-section-blocks">
                        <h5>MES SUJETS SUR LE FORUM</h5>
                        <p><span>10</span></p>
                        <div>
                            <a href="#" class="btn btn-style-two">ACCÉDER</a>
                        </div>
                    </div>
                    <div class="dashboard-section-blocks">
                        <h5>MON TÉMOIGNAGE</h5>
                        {% if user.testimony and user.testimony.isValidated == true %}
                        <p>Écrit le : <span>{{ user.testimony.createdAt|date('d/m/Y') }}</span></p>
                        <div>
                            <a href="{{ path('app_testimony_show', {'token': user.testimony.token}) }}" class="btn btn-style-two">VOIR</a>
                        </div>
                        {% elseif user.testimony and user.testimony.isValidated == false %}
                            <p>Votre témoignage est en cours de validation</p>
                        {% else %}
                            <div>
                                <p>Pas encore de témoignage</p>
                                <a href="{{ path('app_testimony_new') }}" class="btn btn-style-two">ÉCRIRE MON TÉMOIGNAGE</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="dashboard-section-blocks">
                        <h5>MON AVIS</h5>
                        {% if user.userReview %}
                            <p>Écrit le : <span>{{ user.userReview.createdAt|date('d/m/y') }}</span></p>
                            <div>
                                <a href="{{ path('app_user_dashboard_review', {'id': user.id}) }}" class="btn btn-style-two">VOIR</a>
                            </div>
                        {% else %}
                            <p>Vous n'avez pas encore donné votre avis</p>
                            <div>
                                <a href="{{ path('app_user_dashboard_review', {'id': user.id}) }}" class="btn btn-style-two">DONNER MON AVIS</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div id="dashboard-victory-anchor" class="dashboard-help-section">
                <div class="dashboard-help-block">
                    <h2>MES VICTOIRES</h2>
                    <div class="dashboard-victories-list">
                        <div class="my-victories-item">
                            <div class="my-victories-item-header">
                                <p><i class="fa-solid fa-trophy"></i> <span>Le 06/10/2023</span></p>
                            </div>
                            <div class="my-victories-item-body">
                                <img src="{{ asset('images/birds_light.jpeg') }}">
                            </div>
                            <div class="my-victories-item-footer">
                                <p>J'ai consulté mon médecin</p>
                            </div>
                            <div class="my-victories-item-description">
                                <p>
                                    Ma super description !
                                </p>
                            </div>
                        </div>
                        <div class="my-victories-item">
                            <div class="my-victories-item-header">
                                <p><i class="fa-solid fa-trophy"></i> <span>Le 06/10/2023</span></p>
                            </div>
                            <div class="my-victories-item-body">
                                <img src="{{ asset('images/birds_light.jpeg') }}">
                            </div>
                            <div class="my-victories-item-footer">
                                <p>J'ai consulté mon médecin</p>
                            </div>
                            <div class="my-victories-item-description">
                                <p>
                                    Ma super description !
                                </p>
                            </div>
                        </div>
                        <div class="my-victories-item">
                            <div class="my-victories-item-header">
                                <p><i class="fa-solid fa-trophy"></i> <span>Le 06/10/2023</span></p>
                            </div>
                            <div class="my-victories-item-body">
                                <img src="{{ asset('images/birds_light.jpeg') }}">
                            </div>
                            <div class="my-victories-item-footer">
                                <p>J'ai consulté mon médecin</p>
                            </div>
                            <div class="my-victories-item-description">
                                <p>
                                    Ma super description !
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-victory-button">
                        <a href="#" class="btn btn-style-two">TOUT VOIR</a>
                    </div>
                </div>
                <div id="dashboard-solution-anchor" class="dashboard-help-block">
                    <h2>MES SOLUTIONS</h2>
                    <div class="dashboard-help-form-null">
                        {# SI PAS ENCORE REPONDU AU QUESTIONNAIRE #}
                        <p>
                            Avoir les bonnes solutions pour guérir est important.
                        </p>
                        <p>
                            En répondant au questionnaire que nous vous proposons, des solutions adaptées à votre situation vous seront proposées.
                        </p>
                        <p>
                            Ces solutions représentent une première base d'actions à mettre en place afin d'engager le processus de guérison.
                        </p>
                        <em>
                            Si vous souhaitez approfondir chacune d'entre elles, n'hésitez pas à nous poser vos questions en message privé ou sur le forum.
                        </em>
                        <div>
                            <a href="#" class="btn btn-style-two">C'EST PARTI</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
