<nav id="main-site-nav" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-brand brand-with-tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom"
           data-bs-custom-class="custom-tooltip" data-bs-html="true"
           data-bs-title="« <em>Il avait entrevu la délivrance, la liberté, une vie nouvelle. Ce n'était qu'une lueur dans les ténèbres, mais vive et fixe devant lui.</em> » <br> - Anatole France">
            <img src="{{ asset('images/hope.jpeg') }}" alt="logo">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header" data-bs-theme="dark">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_home_index') }}"><i class="fa-solid fa-home"></i> </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            TOUT SAVOIR
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('app_knowledge_anxiety') }}">Le trouble anxieux généralisé</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_knowledge_anxiety_attack') }}">La crise d'angoisse</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_knowledge_panic_attack') }}">L'attaque de panique</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_knowledge_panic_disorder') }}">Le trouble panique</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_knowledge_bipolar') }}">Le trouble bipolaire</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_knowledge_agoraphobia') }}">L'agoraphobie</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_knowledge_depression') }}">La dépression</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_knowledge_burnout') }}">Le burnout</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_knowledge_phobia') }}">Les phobies</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_knowledge_loneliness') }}">La solitude</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            SOLUTIONS
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('app_solution_understand') }}">Comprendre</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_solution_doctor') }}">Votre médecin</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_solution_psy') }}">Le psy</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_solution_advice') }}">Conseils</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_solution_exercice') }}">Exercices</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_solution_relative') }}">Pour les proches</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            COMMUNAUTÉ
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('app_forum_index') }}">Forum</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_conversation_index') }}">Message privé</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_testimony_index') }}">Témoignages</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Partage</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_home_index') }}">ACTUALITÉS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_contact_index') }}">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_donation_index') }}"><span class="nav-donation">NOUS SOUTENIR</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-user"></i>
                            {% if app.user %}
                                <span class="nav-username">{{ app.user.username }}</span>
                                {% else %}
                            PROFIL
                            {% endif %}
                        </a>
                        {% if app.user %}
                            <ul class="dropdown-menu dropdown-menu-end">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a class="dropdown-item" href="{{ path('app_admin_index') }}"><i class="fa-solid fa-gears"></i> Admin</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{{ path('app_user_dashboard_index', {'id': app.user.id, 'dashboardToken': app.user.dashboardToken}) }}"><i class="fa-solid fa-gear"></i> Mon compte</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ path('app_user_dashboard_index', {'id': app.user.id, 'dashboardToken': app.user.dashboardToken}) }}#dashboard-victory-anchor"><i class="fa-solid fa-trophy"></i> Mes victoires</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ path('app_user_dashboard_index', {'id': app.user.id, 'dashboardToken': app.user.dashboardToken}) }}#dashboard-solution-anchor"><i class="fa-solid fa-rocket"></i> Mes solutions</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Déconnexion</a></li>
                            </ul>
                        {% else %}
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{{ path('app_login') }}"><i class="fa-solid fa-right-to-bracket"></i> Connexion</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ path('app_register') }}"><i class="fa-solid fa-address-card"></i> Inscription</a></li>
                            </ul>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn nav-btn-direct-message" aria-current="page" href="{{ path('app_conversation_index') }}">MESSAGE PRIVÉ</a>
                    </li>
                </ul>
            </div>
        </div>
    {% include 'utils/flash.html.twig' %}
    </div>
</nav>
