{% apply inline_css(source('@styles/securityMail.css')) %}
    <section id="register-mail-section">
        <div id="register-mail-container">
            <div class="register-mail-header">
                <h1>Bonjour <span>{{ user.username }}</span> !</h1>
            </div>
            <div class="register-mail-body">
                <p>
                    Une demande de réinitialisation de mot de passe pour votre compte sur <a href="{{ host }}">{{ host }}</a> vient d'être faite.<br>
                    Votre compte a bien été créé, il ne vous reste plus qu'à le valider en cliquant sur le lien ci-dessous.
                </p>
                <em>S'il ne s'agit pas de vous, vous pouvez soit l'ignorer, soit nous contacter pour en savoir plus via le formulaire suivant : <a href="#">{{ host }}/contact</a> </em>
            </div>
            <div class="register-mail-footer">
                <a href="{{ host }}/nouveau-mot-de-passe/create/{{ user.resetPasswordToken }}/{{ user.id }}">Réinitialisation du mot de passe</a>
            </div>
        </div>
        <div class="register-mail-sign">
            <p>
                Prenez soin de vous.<br>
                <a href="{{ host }}">My Psy Community</a>
            </p>
        </div>
    </section>
{% endapply %}
